<div class="row">
  <div class="medium-12 columns">
		<h3 class="h3">Editing Pin</h3>

			<%= render 'form' %>

			<%= link_to 'Show', @pin, class: "button" %> |
			<%= link_to 'Back', pins_path, class: "button small" %>

  </div><!-- END of .XXXXX-6 columns --> 
</div><!-- END of .row --> 